@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <StatisticsLayout />
    </div>
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
