.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.page-title {
    font-size: 1.5em;
    color: white;
}

.menu-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.5em;
}

.menu-container {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: white;
}

.menu {
    font-size: 1.2em;
}
    
@media (min-width: 830px) {
    .menu-toggler {
        display: none;
    }

    .menu-container {
        background-image: none;
        width: 300px;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}