@using RockPaperScissors.Models

@page "/"

<div class="container-fluid h-100 p-3 border">
    <div class="container-fluid d-flex align-items-center justify-content-center h-100 border">
        <div class="border">
            <HandButton ButtonText="Rock" OnClickCallback="@PlayRock"/>
        </div>
        <div class="border">
            <HandButton ButtonText="Paper" OnClickCallback="@PlayPaper"/>
        </div>
        <div class="border">
            <HandButton ButtonText="Scissors" OnClickCallback="@PlayScissors"/>
        </div>
    </div>
</div>

@code {
    GameModel game = new GameModel(); 

    Hand PlayerHand { get; set; }
    Hand OpponentHand { get; set; }
    bool PlayerWon { get; set; }

    void PlayRock() => PlayRound(Hand.Rock);
    void PlayPaper() => PlayRound(Hand.Paper);
    void PlayScissors() => PlayRound(Hand.Scissors);

    void PlayRound(Hand playerHand)
    {
        PlayerHand = playerHand;
        OpponentHand = (Hand)new Random().Next(3);
        PlayerWon = game.PlayRound(PlayerHand, OpponentHand);
    }
}
